body {
    background-color: beige;
}
#calculator {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column;
    box-sizing: border-box;
    height: 90vh;
    margin: 0;
}

#calculator-top {
    display: flex;
    justify-content: flex-end; /* centers horizontally */
    align-items: center; /* centers vertically */
    box-sizing: border-box;
    width: 20%;
    height: 10%;
    padding: 3em;
    padding-bottom: 0px;;
    background-color: grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid blue; /* adds a border to the display */
    border-bottom: 0px; /* removes the bottom border */;
}

#screen {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; /* centers vertically */
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/* text within display */
#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis; /* adds ellipsis for overflow text */
    white-space: nowrap; /* prevents text from wrapping */
    font-size: 3em;
}

/* calculator body */
#calculator-body {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 20%;
    padding: 2em;
    background-color: grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 5px solid blue; /* adds a border to the buttons */
    border-top: 0px; /* removes the top border */
}

#buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column-reverse;
    height: 100%;
    box-sizing: border-box;
}

/* calculator button rows */
#row1, #row2, #row3, #row4 {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
}

#row5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* centers horizontally */
    align-items: center; /* centers vertically */
    padding-bottom: 1em;
    box-sizing: border-box;
    width: 100%; /* Make row5 take full width of its parent */
}

.btn {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    margin: 0;
}