body {
    background-color: beige;
}
#calculator {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column;
    box-sizing: border-box;
    height: 90vh;
    margin: 0;
}

#display {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    box-sizing: border-box;
    width: 30%;
    height: 10%;
    padding: 20px;
    font-size: 2em;
    background-color: white;
}

/* calculator body */
#buttons {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 30%;
    padding: 2em;
    background-color: grey;
}

/* calculator button rows */
#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
}



.btn {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    margin: 0;
}